* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
}

nav {
    width: 80%;
    margin: auto;
    padding: 15px 0px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    display: flex;
}

.domino {
    height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
}

.logo {
    width: 200px;
    cursor: pointer;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 5px 10px;
    margin-left: 20px;
    margin-right: 60px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px;
}

.menu {
    width: 40px;
    cursor: pointer;
    position: absolute;
    margin-left: 105%;
}

nav ul li a:hover {
    color: rgb(139, 69, 69);
}

.textinfo {
    margin-top: 10px;
    margin-left: 80px;
}

.textinfo h1 {
    font-size: 50px;
    color: black;
    margin-bottom: 10px;
}

.textinfo h2 {
    font-size: 50px;
    color: rgb(139, 69, 69);
    margin-bottom: 10px;
    font-style: italic;
}

.textinfo p {
    color: black;
    line-height: 1.5;
    width: 35%;
}

.textinfo a {
    text-decoration: none;
    padding: 12px 40px;
    border-radius: 30px;
    background-color: blue;
    display: inline;
    color: aquamarine;
    font-weight: 500;
    margin-top: 35px;
    box-shadow: 5px 8px 10px black;
    transition: all 0.5s ease-in-out;
    line-height: 8;
}

.textinfo a:hover {
    background-color: black;
    transform: scale(0.9);
}

.image img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translatex(-50%);

}
.image{
    width: 45%;
    height: 75%;
    position: absolute;
    bottom: 6%;
    right: 60px;
    c
}
